<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.live.communityskyeye">

    <!-- Permissions and features -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />

    <!-- Permissions and features -->
    <application
        android:name=".MyOwnApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- DJI SDK -->
        <uses-library android:name="com.android.future.usb.accessory" />

        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="aa2339312fece877dd0cf1aa" />

        <!-- 启用高德地图服务 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ab461579a98508a0fac9627ea73a967b" />
        <!-- 启用高德地图服务 -->

        <activity
            android:name="dji.sdk.sdkmanager.DJIAoaControllerActivity"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <service android:name="dji.sdk.sdkmanager.DJIGlobalService" />
        <!-- DJI SDK -->

        <activity
            android:name=".ConnectionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="绑定与激活" />
        <activity
            android:name=".MainActivity"
            android:label="小区天眼">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SceneActivity"
            android:label="@string/scene_activity"
            android:launchMode="standard" />
        <activity
            android:name=".add_surface"
            android:label="@string/title_activity_add_surface"
            android:launchMode="standard" />
        <activity
            android:name=".SubScene"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UIActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WayPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubPlaceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".memoryModelActivity"
            android:label="@string/title_activity_memory_model"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>